/* =========================
   RESET
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   CONTAINER
========================= */

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  background: #ffffff;
  font-family: 'Inter', sans-serif;
}

/* =========================
   LEFT SIDE
========================= */

.left-side {
  width: 45%;
  background: #00b300;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  position: relative;
}

.hero-content {
  max-width: 420px;
  color: #008000;
}

.hero-line {
  width: 90px;
  height: 8px;
  background: #1ac21a;
  border-radius: 10px;
  margin-bottom: 7px;
}

.hero-content h1 {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.hero-content h1 span {
  color: #1ac21a;
}

.hero-content p {
  font-size: 1rem;
  line-height: 1.7;
  opacity: 0.95;
  color: black;
}

/* =========================
   RIGHT SIDE
========================= */

.right-side {
  width: 70%;
  background: #f5f7fb;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;

  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
}

/* =========================
   CARD
========================= */

.login-card {
  width: 100%;
  max-width: 500px;

  background: white;
  padding: 25px;

  border-radius: 28px;
  
  position: relative;
  z-index: 2;
}

.login-header {
  margin-bottom: 25px;
}

.login-header h2 {
  font-size: 2rem;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
}

.login-header p {
  color: #000000;
  text-align: center;
  font-size: 0.95rem;
}

/* =========================
   FORM
========================= */

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.input-group label {
  font-size: 0.95rem;
  font-weight: 600;
  color: #E2E8F0;
}

.input-wrapper {
  position: relative;
  color: #00ff00;
}

.input-wrapper:focus-within {
  border-color: #008000;
}

.input-wrapper input {
  width: 100%;
  height: 52px;

  border: none;
  outline: none;

  padding: 0 45px 0 16px;

  background: #eef2f7;

  border-radius: 12px;

  font-size: 0.95rem;
  color: #271124;
}

.input-wrapper input::placeholder {
  color: #9ca3af;
}

.eye-button {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);

  background: none;
  border: none;

  cursor: pointer;

  color: #6b7280;
}

/* =========================
   OPTIONS
========================= */

.options-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 10px;

  font-size: 0.9rem;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #008000;
}

input[type="checkbox"] {
  accent-color: #008000;

}

.options-row a {
  color: #1ac21a;
  text-decoration: none;
  font-weight: 600;
}

.options-row a:hover{
  color: #008000;
}

/* =========================
   BUTTON
========================= */

.login-button {
  width: 100%;
  height: 50px;
  
  border: none;
  border-radius: 12px;

  background: #1ac21a;
  color: #ffffff;

  font-size: 1rem;
  font-weight: 700;

  cursor: pointer;
}

.login-button:hover {
  background: #008000;
}

/* =========================
   DIVIDER
========================= */

.divider {
  display: flex;
  align-items: center;
  gap: 12px;

  margin: 20px 0 18px;
}

.divider span {
  flex: 1;
  height: 1px;
  background: #d1d5db;
}

.divider p {
  color: #777;
  font-size: 0.9rem;
}

/* =========================
   REGISTER
========================= */

.register-text {
  text-align: center;
  font-size: 0.95rem;
  color: #374151;
}

.register-text a {
  color: #1ac21a;
  font-weight: 700;
  text-decoration: none;
}

.register-text a:hover {
  color: #008000;
}

@media (max-width: 420px) {

  .left-side {
    min-height: 100px; /* reduz mais a área branca */
    padding: 14px;

    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }

  .hero-content h1 {
    font-size: 1.4rem;
  }

  .right-side {
    padding: 14px 12px 26px;
  }

  .login-card {
    padding: 18px 14px;
    border-radius: 14px;
  }

  .input-wrapper input {
    height: 44px;
    font-size: 0.88rem;
  }

  .login-button {
    height: 44px;
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {

  .left-side {
    min-height: 130px; /* menor que antes */
    padding: 20px;
  }

  .hero-content h1 {
    font-size: 1.9rem;
  }
}